
body{
    display: grid;
    background-color:#36802D;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 0px;
    font-family: 'Baloo Bhaina 2',cursive;
}
header{
    display: grid;
    grid-area: header;
    background-color: #234D20;
}
main{
    display: grid;
    grid-area: main;
}
a{
    color:#F0F7DA ;
}
#menu-bar{
    box-shadow: 0px 2px 0px rgb(3, 59, 3);
    transition: 2s ;
}
#menu{
    display: flex;
    height: 150px;
}
#label{
    width: 400px;
    margin: 30px 0px;
    position: absolute;
    left: 57%;
    font-size: 50px;
    color: #F0F7DA;
}
.bur{
    height: 10px;
    width: 100px;
    display: block;
    border-radius: 50px;
    background-color: #F0F7DA;
}
#bur1{
    transform: translateY(-16px);
    transition: 0.5s;
}
#bur2{
    transition: 0.5s;
}
#bur3{
    transform: translateY(16px);
    transition: 0.5s;
}

.nav li a {
    color: #F0F7DA;
    text-decoration: none;
    font-size: 50px;

}
.nav li{
    list-style: none;
    padding: 20px 0px;
    text-align: center;
}
.nav{
    padding: 0px;
    margin: 0px 0px;
    transform: 10s ease;
    display: none;
}
.change{
    display: block;
}
.change #bur1{
    transform: translateY(8px) rotateZ(-135deg);
}
.change #bur3{
    transform: translateY(-12px) rotate(135deg);
}
.change #bur2{
    opacity: 0;
}
#navbutton{
    width: 100px;
    height: 100%;
    margin: 60px 0px 20px 30px;
    cursor: pointer;
}

#myprofile{
    display: block;
    margin: 60px 20%;
}
